
body {
    font-family: 'VT323', monospace;

}

#main {
    margin: 10px 10px 10px 10px;
}

#headerbar {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #00A0F5;
    color: #FFF;
    margin: 0;
}

#headerbar h1 {
    float: left;
    color: #FFF;
    font-size: 4em;
    margin: 0;
    display: inline;
    vertical-align: middle;
    line-height: 100px;
    padding: 0 0 0 20px;
}
#headerbar p {
    color: #FFF;
    float: right;

    padding: 10px 10px 10px 10px;
}

#headerbar a {
    color: #3860a0;
}

#tasklist {

}

#taskform {
}

#tasklist ul{
    list-style-type: none;
    padding: 0;
    margin: 10px 10px 10px 10px;
}

#tasklist li {
    font-size: 1.5em;
    margin: 0 0 8px 0;
    -o-transition:0.2s;
    -ms-transition:0.2s;
    -moz-transition:0.2s;
    -webkit-transition:0.2s;
    transition:0.2s;
}

#tasklist li:hover {
    background-color: #e8f6ff;
}

.taskwrapper {
    text-transform: lowercase;

}

.taskwrapper h4{
    margin: 0;
    font-size: 1.5em;
    display: inline;
    vertical-align: middle;
}

.taskwrapper p {
    margin: 0;
    font-size: 0.75em;
    display: inline;
    color: #CCC;
    float:right;
    line-height: 33px;
    vertical-align: middle;

}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}