{% load staticfiles %}

<html>
    <head>
        <title>TaskRPG</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/tasklist.css' %}">
    </head>
    <body>
        <div id="headerbar">
            <h1>TaskRPG</h1>
            {% if user.is_authenticated %}
                <p>
                {{ user.username }} // <a href="{% url 'logout' %}">log out</a>
                </p>
            {% elif request.get_full_path != "/login/" %}
                <p>
                <a href="{% url 'login' %}">log in</a>
                </p>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </body>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
</html>
