{% extends 'tasklist/base.html' %}

{% block content %}
    <h1>Register</h1>
    {% if registered %}
        <p>Thanks for registering. <a href="{% url 'task_list' %}">back</a></p>
    {% else %}
        <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}
