{% extends 'tasklist/base.html' %}

{% block content %}
    <div id="tasklist">
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item">
                    <div class="taskwrapper">
                        <input type="checkbox" id="checkbox{{ forloop.counter }}">
                        <h4>{{ task }}</h4>
                        <p>{{task.created_date}}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    </div>
{% endblock %}
